# SPDX-FileCopyrightText: 2022 Copyright DB InfraGO AG and the capellambse-context-diagrams contributors
# SPDX-License-Identifier: CC0-1.0

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [pre-commit, pre-merge-commit]
minimum_pre_commit_version: 3.2.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        name: mypy
        types_or: [python, pyi, toml, yaml]
        pass_filenames: false
        args: [src/capellambse_context_diagrams, tests]
        additional_dependencies:
          - capellambse==0.6.11
          - mkdocs
          - mkdocs-gen-files
          - mkdocs-literate-nav
          - pydantic==2.7.3
          - pytest
          - types-setuptools
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff-format
        types_or: [python, pyi, jupyter]
      - id: ruff
        name: Ruff (main Python code)
        types_or: [python, pyi, jupyter]
        exclude: 'docs/.*\.ipynb$'
        args: [--extend-ignore=FIX, --fix]
      - id: ruff
        name: Ruff (demo notebooks)
        types_or: [jupyter]
        files: 'docs/.*\.ipynb$'
        args: [--extend-ignore=FIX, --extend-ignore=ERA001]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        name: Insert Licence for Python, YAML and Dockerfiles
        files: '\.py$|\.yaml$|^Dockerfile$|^Makefile$'
        exclude: '^\.'
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - "#"
      - id: insert-license
        name: Insert Licence for HTML/XML/SVG files
        files: '\.html$|\.md$|\.svg$'
        exclude: '^\.|^docs/credits\.md$'
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - "<!--| ~| -->"
      - id: insert-license
        name: Insert Licence for CSS files
        files: '\.css$'
        exclude: '^\.'
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - "/*| *| */"
  - repo: https://github.com/fsfe/reuse-tool
    rev: v5.0.2
    hooks:
      - id: reuse-lint-file
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.19.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies:
          - "@commitlint/config-conventional"
