# SPDX-FileCopyrightText: 2022 Copyright DB Netz AG and the capellambse-context-diagrams contributors
# SPDX-License-Identifier: CC0-1.0

exclude: '^(versioneer\.py|.*/_version\.py)$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.4.2
    hooks:
      - id: insert-license
        name: Insert Licence for Python, YAML and Dockerfiles
        files: '\.py$|\.yaml$|^Dockerfile$|^Makefile$'
        exclude: '^\.'
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - '#'
      - id: insert-license
        name: Insert Licence for HTML/XML/SVG files
        files: '\.html$|\.md$|\.svg$'
        exclude: '^\.|^docs/credits\.md$'
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - '<!--| ~| -->'
      - id: insert-license
        name: Insert Licence for CSS files
        files: '\.css$'
        exclude: '^\.'
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - '/*| *| */'
  - repo: https://github.com/fsfe/reuse-tool
    rev: v1.1.0
    hooks:
      - id: reuse
